In [54]:
import pandas as pd
import numpy as np

In [79]:
df = pd.read_csv("Advertising.csv")

In [80]:
df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [82]:
df=df.drop("Unnamed: 0",axis = 1)

In [83]:
df_num = df.drop("sales",axis = 1)

In [84]:
from sklearn.preprocessing import MinMaxScaler

In [85]:
mn = MinMaxScaler()
df_sc = mn.fit_transform(df_num)

In [86]:
df_sc_df = pd.DataFrame(df_sc,columns = df_num.columns,index=df.index)

In [87]:
df_sc_df.head()

         TV     radio  newspaper
0  0.775786  0.762097   0.605981
1  0.148123  0.792339   0.394019
2  0.055800  0.925403   0.606860
3  0.509976  0.832661   0.511873
4  0.609063  0.217742   0.510994

In [91]:
#df_sc_df.drop("Unnamed: 0",axis = 1)
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [92]:
x = df_sc_df
y = df["sales"]

In [93]:
from sklearn.model_selection import train_test_split

In [165]:

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state= 88)

In [166]:
print("Shape of Training set input:",X_train.shape)
print("Shape of Testing set input:",X_test.shape)

Shape of Training set input: (140, 3)
Shape of Testing set input: (60, 3)

In [167]:
print("Total VALUES in Training set output:",y_train.size)
print("Total VALUES in Testing set output:",y_test.size)

Total VALUES in Training set output: 140
Total VALUES in Testing set output: 60

In [171]:
from sklearn.linear_model import Lasso

In [172]:
y_pred = ls.predict(X_test)

In [191]:

ls = Lasso(alpha=0.05)
ls.fit(X_train, y_train)

Lasso(alpha=0.05)

In [192]:
import numpy as np
ytest=np.array(y_test)

In [193]:

df_actual=pd.DataFrame(ytest,columns=['Actual_Output'])
df_predicted=pd.DataFrame(y_pred,columns=['Predicted_Output'])
df_output=pd.concat([df_actual,df_predicted],axis=1)
df_output.head()

   Actual_Output  Predicted_Output
0           13.4         14.954688
1            9.3         12.440634
2            7.3         10.508687
3            9.7          8.675908
4           21.5         20.524624

In [194]:
from sklearn.metrics import r2_score, mean_squared_error

In [195]:
print("Training Accuracy:",r2_score(y_train, ls.predict(X_train)))

Training Accuracy: 0.9034163423740127

In [196]:
print("Testing Accuracy:",r2_score(y_test, y_pred))

Testing Accuracy: 0.8710182899384407

In [197]:

ls.coef_

array([12.82183076,  9.39220639, -0.        ])

In [188]:
X_test.head(1)

          TV     radio  newspaper
199  0.78255  0.173387   0.073879

In [198]:
predy0=12.82183076*0.782550+ 9.3922063*0.173387
print("Estimated output:",predy0)
print("Actual output:",ytest[0])
y_test.head(1)

Estimated output: 11.6622101349761
Actual output: 13.4

199    13.4
Name: sales, dtype: float64

In [199]:
from sklearn.linear_model import Ridge

In [200]:
y_pred = ls.predict(X_test)

In [321]:
r = Ridge(alpha=1.70)
r.fit(X_train, y_train)

Ridge(alpha=1.7)

In [322]:
import numpy as np
ytest=np.array(y_test)

In [323]:
df_actual=pd.DataFrame(ytest,columns=['Actual_Output'])
df_predicted=pd.DataFrame(y_pred,columns=['Predicted_Output'])
df_output=pd.concat([df_actual,df_predicted],axis=1)
df_output.head()

   Actual_Output  Predicted_Output
0           13.4         14.864352
1            9.3         12.609176
2            7.3         10.666460
3            9.7          8.838610
4           21.5         20.196919

In [324]:
from sklearn.metrics import r2_score, mean_squared_error

In [325]:
print("Training Accuracy:",r2_score(y_train, r.predict(X_train)))

Training Accuracy: 0.8920026398998802

In [326]:
print("Testing Accuracy:",r2_score(y_test, y_pred))

Testing Accuracy: 0.877338880218972

In [327]:
r.coef_

array([11.74215448,  8.76552065, -0.02613053])